* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 300px;
    border: 2px solid red;

    display: flex;
[adding display: flex allows the boxes inside the container appear side-by-side]

    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 300px;
    border: 2px solid red;
    display: flex;
    flex-direction: column; setting flex direction to column, in order to center it boexes (align-item: center is used in-place of justify-contect: ;)
    align-items: center;

.box {
    width: 100%;
    height: 100px;
    border: 2px solid black;
}






display: flex (very important, make the containers appear side-by-side)
1. provide option of using flex-direction, align-item, and justify-content

flex-direction is row, align side-by-side
flex-direction is column , align content in a column pattern.
align-item stretch the item by :default

display:flex (align-items at center)


justify-content: flex-start applied by :default
center, flex-end
space-around
space-between

combining justify-content and align-items

combining justify-content and align-items and flex-direction